<h2>Register</h2>

<div class="login">
    <form action="/register" method="POST">
    <p>Login</p>
    <input type="text" placeholder="login..." autocomplete="on">
    <p>Password</p>
    <input type="password" placeholder="password..." autocomplete="on">
    <p>Repit your password</p>
    <input type="password" placeholder="password..." autocomplete="on">
    <p class="btn-footer">
        <button type="submit">Register</button>
    </p>
    </form>
    <p><a href="/login" class="register">I'm already registered</a></p>
</div>