* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}

a {
    text-decoration: none;
    &:link,
    &:active,
    &:visited {
        color: black;
    }
}

// ------------ Wrapper-start

.wrapper {
    padding-top: 1rem;
    > h2 {
        text-align: center;
    }
}

// ------------ Wrapper-end

// ------------ Header-start
.nav {
    padding: 1rem 2rem;
    background-color: rgb(255, 217, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px rgba(119, 119, 119, 0.61);

    &__logo {
        display: block;
        font-size: 2rem;
        height: 2rem;
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        list-style: none;
        height: 1rem;
        a {
            text-decoration: none;
            &:hover {
                color: #ffff79;
                border-bottom: 2px #ffff79 solid;
            }
        }
    }

    .active {
        color: #fff;
        border-bottom: 2px #fff solid;
    }
    li + li {
        margin-left: 0.5rem;
    }
}

// ------------ Header-end

// ------------ Login-page-start

.login { 
    padding: 1rem 2rem;
    min-height: 200px;
    max-width: 25rem;
    margin: 2rem auto;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #8888888a;

    p{
        font-size: 1.1rem;
        margin-top: 0.3rem;
    }

    input {
        margin-top: 0.3rem;
        width: 100%;
        outline: none;
        font-size: 1.1rem;
        padding: 0.2rem 0.5rem;
        border-radius: 0.2rem;
        border: 1px solid #ccc;
    }
    .register{
        font-size: .8rem;
        text-decoration: underline;
        color: royalblue;
    }
    .btn-footer {
        display: flex;
        justify-content: flex-end;
    }
    button {
        outline: none;
        font-size: 1.1rem;
        padding: 0.2rem 0.5rem;
        margin-top: 0.3rem;
        border-radius: 0.2rem;
        border: 1px solid #ccc;
        &:hover {
            background-color: rgb(58, 177, 58);
            color: #fff;
            cursor: pointer;
        }
    }
}  
 
// ------------ Login-page-end

// ------------ Register-page-start
